@import url(fontawesome.css);

*{
    margin: 0;
    padding: 0;
  }

  *, ::after, ::before {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
  }
  
  a {
    text-decoration: none;
    color: #ffffff;
  }
  
  /* Essentials */
  .wrapper {
    width: 100%;
    height: 100%;
  }
  .container {
    width: 960px;
    margin: 0 auto;
    
  }

  /*main-header */

  .main-header {
    background-color: rgba(22,34,57,0.95);
    height: 80px;
    position: fixed;
    z-index: 12;
    width: 100%;
    top: 0;
}

.main-header .logo {
  float: left;
  line-height: 80px;
  padding-left: 60px;
}

.main-header .logo a {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
}
.main-header .logo a em {
  font-style: normal;
  color: #f5a425;
}

.main-menu {
  float: right;
  padding-right: 60px;
}

.main-menu li {
  display: inline-block;
  line-height: 79px;
  margin-left: 15px;
  position: relative;
}

.main-menu li:first-child {
  margin-left: 0px;
}

.main-menu li a {
  padding: 10px 15px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 700;
  color: #fff;
  border: 2px solid transparent;
  transition: all 0.5s;
}

.main-menu li a {
  padding: 10px 15px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 700;
  color: #fff;
  border: 2px solid transparent;
  transition: all 0.5s;
}

.main-menu li.has-submenu ul li a:after {
  display: none;
}

.main-menu li .sub-menu {
  position: absolute;
  width: 160px;
  background-color: #18233a;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.main-menu li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
}

.main-menu li .sub-menu li {
  display: block;
  line-height: 20px;
  margin-left: 0px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #121b2f;
}

.main-menu li .sub-menu li:first-child {
  padding-top: 15px;
}

.main-menu li .sub-menu li:last-child {
  margin-bottom: 0px;
  border-bottom: none;
}

.main-menu li .sub-menu li a {
  font-size: 12px;
  font-weight: 500;
  padding: 0px 15px;
  letter-spacing: 0.5px;
  border: none;
  transition: all 0.5s;
}

.main-menu li .sub-menu li a:hover {
  color: #f5a425;
  border: none;
}

.main-nav li:hover a,
.main-nav li.active a {
  border: 2px solid #f5a425;
}

/* Main-Banner */

.main-banner {
  position: relative;
  max-height: 100%;
  overflow: hidden;
  margin-bottom: -7px;
}

#bg-video {
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
    z-index: -1;
}

#bg-video::-webkit-media-controls {
    display: none !important;
}

.video-overlay {
    position: absolute;
    background-color: rgba(22,34,57,0.85);
    top: 0;
    left: 0;
    bottom: 7px;
    width: 100%;
}

.main-banner .caption {
  text-align: center;
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.main-banner .caption h6 {
  margin-top: 0px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
}

.main-banner .caption h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 64px;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  letter-spacing: 1px;
}

.main-banner .caption h2 em {
  font-style: normal;
  color: #f5a425;
  font-weight: 900;
}

.main-button a {
  background-color: #f5a425;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 700;
  padding: 12px 20px;
  display: inline-block;
  outline: none;
}

/* features 

div.features .card{
  padding-left: 0;
  padding-right: 0;

}

.card{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.features-post {
  position: relative;
  margin-bottom: 0px;
}

.features-thumb {
  overflow: hidden;
  position: relative;
}

.features-thumb img {
  width: 100%;
}

.features-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #0c1228;
  color: #fff;
  padding: 40px;
}

.features-content:hover {
    background-color: #f5a425;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
}

.features-content h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 0px;
}

.features-content h4 ion-icon {
    margin-right: 15px;
    font-size: 24px;
}

.features-content p {
    margin-bottom: 0px;
}

.features-content a {
  margin-top: 15px;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 14px;
  border-bottom: 2px solid #fff;
}

.features-content p.hidden-sm {
  display: none;
}

.second-features,
.third-features {
    border-left: 1px solid rgba(250,250,250,0.1);
}

.content-hide {
  margin-top: 15px;
  display: none;
}

.content-hide p {
  color: #fff;
}*/

/*  why-us */

div .why-us{
  display: block;
  background-image: url(../images/choosing-bg.jpg);
  background-color: #172238;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-1 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.section-heading {
  text-align: center;
  margin-bottom: 70px;
}

.section-heading h2 {
  margin-top: 100px;
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 15px 20px;
  border: 2px solid rgba(250,250,250,0.1);
}

.section-heading h2:before {
  width: 1px;
  height: 100px;
  background-color: rgba(250,250,250,0.1);
  position: absolute;
  top: -102px;
  content: '';
  left: 50%;
  transform: translate(-50%);
}

#tabs {
  text-align: center;
}

#tabs ul {
 margin: 0;
 padding: 0;
 column-count: 3;
 column-gap: 0;
 list-style: none
}

#tabs ul li {
  display: block;
  font-weight: 400;
  font-size: 1.2em;
  letter-spacing: 1px;
  text-align: center;
}

#tabs ul li a {
  display: block;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  outline: 0;
  padding-bottom: 30px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}

#tabs ul li a:before {
  transition: all 0.3s;
  width: 25px;
  height: 25px;
  border: 2px solid transparent;
  background-color: transparent;
  content: '';
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -5px;
}

#tabs ul .ui-tabs-active a:after {
  background-color: #f5a425;
  width: 15px;
  height: 15px;
}

#tabs ul li a:after {
  transition: all 0.3s;
  width: 10px;
  height: 10px;
  background-color: #fff;
  content: '';
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
}


.tabs-content {
  display: block;
  margin-top: 60px;
  text-align: left;
}


.col-half{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 50%;
  max-width: 50%;
}

.tabs-content img {
  width: 100%;
  overflow: hidden;
  padding-right: 45px;
}


#tabs h4 {
  margin-top: 60px;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  margin-bottom: 30px;
}

#tabs p {
  color: #fff;
  font-size: 15px;
  line-height: 28px;
}

a {
  color: #3CF;
  text-decoration: none;
}


/*-----Coming-Soon-----*/

div.coming-soon {
  background-image: url(../images/coming-soon-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #172238;
  padding: 120px 0px;
}

.col-left{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

div.coming-soon .text-center h4 {
  margin-top: 100px;
  font-size: 30px;
  color: #fff;
  font-weight: 800;
  letter-spacing: 0.5px;
  line-height: 40px;
  margin-bottom: 50px;
}

div.coming-soon .text-center h4 em {
  font-style: normal;
  color: #f5a425;
}

.counter div{
  display: inline-block;
}

div.coming-soon .text-center .counter .days,
div.coming-soon .text-center .counter .hours,
div.coming-soon .text-center .counter .minutes,
div.coming-soon .text-center .counter .seconds{
  width: 22%;
  height: 130px;
  margin-right: 3%;
  float: left;
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 1px;
  color: #fff;
  background-color: rgba(250,250,250,0.1);
}

div.coming-soon .text-center .counter div{
  display: inline-block;
}

div.coming-soon .text-center .counter .days .value,
div.coming-soon .text-center .counter .hours .value,
div.coming-soon .text-center .counter .minutes .value,
div.coming-soon .text-center .counter .seconds .value{
  margin-top: 15px;
  display: block;
  width: 100%;
}

div.coming-soon .text-center .counter span {
  font-size: 18px;
  text-transform: uppercase;
  color: #f5a425;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 0px;
  display: block;

}

.col-right{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

div.coming-soon .right-content {
  margin-left: 30px;
}

div.coming-soon .top-content {
  margin-bottom: -8px;
}

div.coming-soon .top-content h6 {
  font-size: 14px;
  color: #fff;
  background-color: rgba(250,250,250,0.2);
  padding: 40px;
  text-align: center;
  line-height: 24px;
}

div.coming-soon .top-content h6 em {
  font-style: normal;
  font-weight: 600;
}

/*----- Form Css-----*/

div.coming-soon form {
  background-color: rgba(250,250,250,0.1);
  padding: 60px 40px;
  width: 100%;
  text-align: center;
}

.col-field{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 100%;
  max-width: 100%;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

div.coming-soon form input {
  width: 100%;
  height: 40px;
  background-color: rgba(250,250,250,0.1);
  border-radius: 0px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 13px;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}

.form-control{
  display: block;
  padding: .375rem .75rem;
  font-weight: 400;
  line-height: 1.5;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

div.coming-soon form button {
  margin-top: 10px;
  background-color: #f5a425;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 700;
  padding: 12px 20px;
  display: inline-block;
  outline: none;
  box-shadow: none;
  border: none;
}



/*-----Courses-----*/

div.courses {
  background-image: url(../images/choosing-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #172238;
  padding-bottom: 100px;
  padding: 0px 30px 100px 30px;
}

.container-fluid{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.course-cards {
  display: block;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}

.course-stage-outer{
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.course-cards .course-stage{
  position: relative;
  touch-action: manipulation;
}

.course-cards .owl-item{
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-tap-highlight-color: transparent;
}

div .courses .item img{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.course-cards .owl-item img{
  display: block;
  width: 100%;

}img{
  vertical-align: middle;
  border-style: none;
}

div.courses .item .down-content{
  padding: 30px;
  background-color: #fff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

div .courses .item .down-content h4{
  font-size: 16px;
  text-transform: uppercase;
  color: #1e1e1e;
  letter-spacing: 0.5px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 20px;
}

div .courses .item .down-content p{
  margin-bottom: 25px;
}

p{
  font-size: 13px;
  line-height: 22px;
  color: #212529;
  margin-top: 0;
}

div .courses .item .down-content img {
  width: 40px;
  border: 2px solid #f5a425;
  border-radius: 50%;
  text-align: left;
  display: inline-block;
}


div .courses .item .down-content .text-button-free{
  display: inline-block;
  margin-top: -30px;
  float: right;
}

div .courses .item .down-content .text-button-free a{
  color: #7a7a7a;
  font-size: 13px;;
}


/*----- video -----*/

div.video {
  width: 100%;
  background-image: url(../images/video-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #172238;
  padding: 120px 0px;
}

.col-left-1{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 50%;
  max-width: 50%;
  align-self: center!important;

}

div.video .left-content {
  color: #fff;
}

div.video .left-content span {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.5px;
}

div.video .left-content h4 {
  margin-top: 20px;
  font-size: 30px;
  color: #fff;
  font-weight: 800;
  letter-spacing: 0.5px;
  line-height: 40px;
  margin-bottom: 20px;
}

div.video .left-content p {
  color: white;
  font-size: 13px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 1rem;
}

.video-item {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0px auto 0;
}

.video-item .video-caption {
  position: absolute;
  z-index: 10;
  background-color: rgba(250,250,250,0.75);
  height: 80px;
  width: 100%;
  padding: 27px 30px;
  bottom: 0;
}

.video-item .video-caption h4 {
  font-size: 20px;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.video-item figure {
  position: relative;
  width: 100%;
  font-size: 0;
}

figure {
  margin: 0 0 1rem;
}

.video-item figure img {
  width: 100%;
}

.video-item figure a:before {
  content: '';
  position: absolute;
  bottom: 10px;
  right: 15px;
  width: 60px;
  height: 60px;
  margin-top: -32.5px;
  margin-left: -32.5px;
  border-radius: 50%;
  background-color: #f5a425;
  z-index: 10;
}

.video-item figure a:after {
  content: '';
  position: absolute;
  bottom: 27.5px;
  right: 20px;
  margin-top: -12.5px;
  margin-left: -7px;
  border: solid 13px transparent;
  border-left: solid 20px;
  border-left-color: #fff;
  z-index: 10;
}


/*-----  contact----- */

div.contact {
  background-image: url(../images/contact-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #172238;
  padding-bottom: 120px;
}

div.contact form {
  background-color: rgba(250,250,250,0.1);
  padding: 30px;
  width: 100%;
}

div.contact form input {
  width: 100%;
  height: 40px;
  background-color: rgba(250,250,250,0.1);
  border-radius: 0px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 13px;
  margin-bottom: 30px;
  letter-spacing: 0.5px;
}

div.contact form textarea {
  width: 100%;
  height: 220px;
  max-height: 280px;
  min-height: 220px;
  background-color: rgba(250,250,250,0.1);
  border-radius: 0px;
  border: none;
  outline: none;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  margin-bottom: 30px;
  letter-spacing: 0.5px;
}

div.contact form button {
  background-color: #f5a425;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 700;
  padding: 12px 20px;
  display: inline-block;
  outline: none;
  box-shadow: none;
  border: none;
}

/*----- footer-----*/

footer {
  background-color: #152036;
  text-align: center;
}

footer p {
  margin-bottom: 0px;
  padding: 25px 0px;
  color: #fff;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
}

footer p a, footer p a:hover{
  color: #f5a425;
}